<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>找小说网</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "/static/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "/static/css/bootstrap-theme.min.css" %}"/>
</head>
<body>
{% block nav %}
{% endblock %}
{% block index %}
{% endblock %}
{% block search %}
{% endblock %}
{% block read %}
{% endblock %}
<div class="container">
    <div class="footer">

    <br/><br/>
        <hr>
    <p align="center">免责声明:本软件内容皆来源于网络，软件作者不负任何责任。</p>
    </div>
</div>
</body>
</html>