<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>找小说网</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "/static/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "/static/css/bootstrap-theme.min.css" %}"/>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">去哪儿找小说</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">书架<span class="glyphicon glyphicon-book"></span></a></li>
          <li><a href="/search">找小说<span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" hidden>
          <li><a href="/config"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
      </div>
      </div>
    </nav>
{% block index %}
{% endblock %}
{% block search %}
{% endblock %}
{% block read %}
{% endblock %}
<div class="container">
    <div class="footer">

    <br/><br/>
        <hr>
    <p align="center">免责声明:本软件内容皆来源于网络，软件作者不负任何责任。</p>
    </div>
</div>
</body>
</html>