{% extends "novel/base.html" %}
{% block index %}
    <div class="container" id="resText">
        <ul class="breadcrumb">
          <li><a href="{% url 'book_index' book_id %}">{{ book_name }}</a></li>
          <li class="active">{{ chapter_name }}</li>
        </ul>

        <div class="well well-lg center-block" id="text">
          <h2 align="center">{{ chapter_name }}</h2>
          <p><br /><br />{% load md2 %}{{ chapter_content|markdown }}</p>
          <ul class="pager">
          {% if previous_chapter_num %}
          <li class="previous">
          <a href="{% url 'chapter' book_id previous_chapter_num %}">&larr; 上一章</a></li>
          {% endif %}
          <li class="previous"><a href="{% url 'book_index' book_id %}">目录</a></li>
          {% if next_chapter_num %}
            <li class="next"><a href="{% url 'chapter' book_id next_chapter_num %}">下一章 &rarr;</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
{% endblock %}