{% extends "novel/base.html" %}
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">去哪儿找小说</a>
      </div>
      </div>
    </nav>
{% endblock %}

{% block index %}
{#  <div class="jumbotron">#}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--热门小说-->
            </div>
            <div class="col-md-6">
                &nbsp;
                &nbsp;
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-3">
                <!--热门网站-->
            </div>
        </div>
        <div class="well row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">

                <form action="/search/" method="get">
                    <div class="input-group">
                        <input type="text" name="bookname" class="form-control" placeholder="搜你想要的">
                        <!--<input type="submit" value="Search">-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" value="Search"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
{#  </div>#}

{% endblock %}