{% extends 'novel/base.html' %}
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">去哪儿找小说</a>
      </div>
    </nav>
{% endblock %}
{% block index %}

    <div class="container">
        <h1>&nbsp;</h1>
        <center><h2>热门小说列表</h2></center>
        {% for book in books %}
            <div class="well row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <a href="{% url 'book_index' book.book_id %}"><img class="col-md-7"  alt="" src="{{ book.book_img }}" border="1"></a>
                        <div class="col-md-5">
                            <p><a href="{% url 'book_index' book.book_id %}"><strong>{{ book.book_name }}</strong></a></p>
                        </div>
                    </div>
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-5">
                        <p>{{ book.book_desc|slice:":100" }}...</p>
                    </div>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}